@model WebApplication9.Models.Inscripcione

@{
    ViewData["Title"] = "Editar Inscripción";
}

<body>
    <div class="container mt-5">
        <div class="main">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="text-primary">Editar Inscripción</h1>
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>

            <div class="row form-container" style="padding-left: 50px;">
                <div class="col-md-6">
                    <form asp-action="Edit" asp-route-id="@Model.IdInscripcion">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        <input type="hidden" asp-for="IdInscripcion" />

                        <div class="form-group mb-3">
                            <label asp-for="IdUsuario" class="form-label"></label>
                            <select asp-for="IdUsuario" class="form-select" asp-items="ViewBag.IdUsuario"></select>
                            <span asp-validation-for="IdUsuario" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="IdConcurso" class="form-label"></label>
                            <select asp-for="IdConcurso" class="form-select" asp-items="ViewBag.IdConcurso"></select>
                            <span asp-validation-for="IdConcurso" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="FechaInscripcion" class="form-label"></label>
                            <input asp-for="FechaInscripcion" class="form-control" />
                            <span asp-validation-for="FechaInscripcion" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
