@model WebApplication9.Models.Premio

@{
    ViewData["Title"] = "Editar Premio";
}

<body>
    <div class="container mt-5">
        <div class="main">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="text-primary">Editar Premio</h1>
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>

            <div class="row form-container" style="padding-left: 100px;">
                <div class="col-md-4">
                    <form asp-action="Edit" asp-route-id="@Model.IdPremio">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        <input type="hidden" asp-for="IdPremio" />

                        <div class="form-group mb-3">
                            <label asp-for="IdConcurso" class="control-label"></label>
                            <select asp-for="IdConcurso" class="form-select" asp-items="ViewBag.IdConcurso"></select>
                            <span asp-validation-for="IdConcurso" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Descripcion" class="control-label"></label>
                            <input asp-for="Descripcion" class="form-control" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Cantidad" class="control-label"></label>
                            <input asp-for="Cantidad" class="form-control" />
                            <span asp-validation-for="Cantidad" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
