@model WebApplication9.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<body>
    <div class="container mt-5">
        <div class="main">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="text-primary">Editar Usuario</h1>
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit" asp-route-id="@Model.IdUsuario">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        <input type="hidden" asp-for="IdUsuario" />

                        <div class="form-group mb-3">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Contraseña" class="control-label"></label>
                            <input asp-for="Contraseña" type="password" class="form-control" />
                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="TipoUsuario" class="control-label"></label>
                            <input asp-for="TipoUsuario" class="form-control" />
                            <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="FechaRegistro" class="control-label"></label>
                            <input asp-for="FechaRegistro" class="form-control" />
                            <span asp-validation-for="FechaRegistro" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
